@keyframes characterAnimation {
  from {
    margin-left: -150px;
    opacity: 0;
  }
  to {
    margin-left: -100px;
    opacity: 1;
  }
}
@keyframes registerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  overflow: hidden;
}

.sponsors {
  text-align: center;
  height: 140px;
  font-size: large;
  font-family: "Provicali";
  color: white;
  float: right;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.content-container {
  height: 100vh;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1.25fr 1.75fr;
  width: 100%;
}

.content-container > div {
  text-align: center;
  font-size: 30px;
}

.item1 {
  align-self: flex-end;
  justify-self: right;
  justify-content: right;
  text-align: center;
}

.item2 {
  align-self: center;
  text-align: center;
  font-family: "Provicali";
  color: white;
  opacity: 0;
  animation: registerAnimation 2s forwards;
  animation-delay: 2s;
}
.item2 h1 {
  font-size: 100px;
  height: 80px;
  font-weight: 900;
}
.item2 h2 {
  margin-top: 15px;
  font-size: 45px;
}
.item2 #register {
  background-color: #63000f;
  border: none;
  border-radius: 50px;
  height: 9%;
  font-size: 22px;
  color: white;
  font-family: "Provicali";
  transition: 0.3s;
  padding: 15px 20px;
}
.item2 .register:focus {
  outline: none;
}

.character {
  opacity: 0;
  height: 90vh;
  margin-bottom: -25px;
  margin-left: -150px;
  animation: characterAnimation 1s forwards;
  animation-delay: 1s;
}

.sponsorimg {
  height: 64px;
  width: 64px;
  padding: 5px;
}

@media screen and (max-width: 1620px) {
  .item2 h1 {
    font-size: 80px;
    height: 80px;
    font-weight: 900;
  }
  .item2 h2 {
    margin-top: 15px;
    font-size: 45px;
    font-weight: 900;
  }
}
@media screen and (max-width: 1300px) {
  .item2 h1 {
    font-size: 60px;
    font-weight: 900;
    margin: 0;
  }
  .item2 h2 {
    font-size: 35px;
    font-weight: 900;
  }
}
@media screen and (max-width: 1100px) {
  .character {
    opacity: 0;
    height: 70vh;
    margin-bottom: -25px;
    margin-top: 25px;
  }

  .content-container {
    height: 100vh;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .item1 {
    width: 100%;
    justify-content: center;
    justify-self: center;
  }

  .item2 {
    justify-content: center;
    justify-self: center;
    margin-top: 150px;
    grid-row-start: 1;
  }
  .item2 h1 {
    font-size: 60px;
    font-weight: 900;
    margin: 0;
  }
  .item2 h2 {
    font-size: 35px;
    font-weight: 900;
  }

  .sponsors {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .item2 {
    justify-content: center;
    justify-self: center;
    margin-top: 150px;
    grid-row-start: 1;
  }
  .item2 h1 {
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    height: 40px;
  }
  .item2 h2 {
    font-size: 20px;
    font-weight: 900;
  }
}
@media screen and (max-width: 373px) {
  .item2 h1 {
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    height: 80px;
  }
  .item2 h2 {
    font-size: 20px;
    font-weight: 900;
  }
}

/*# sourceMappingURL=content.css.map */
